.cont{
	height: 600px;
	line-height: 300px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: green;
	width: 100%;
}
.Action {
	width: 290px;
    margin-right: 0;
    display: inline-block;
    text-align: left;
}
.Action .btn {
    width: 100px;
    background: #2c97ea;
    padding: 6px 12px;
    color: #fff;
    background-color: #2c97ea;
    border-color: #2c97ea;
}
#allwin{
	background: #fff;
}
